<form id="product-form">
  <template v-for="(option, i) in form.options" :key="i">
    <div>
      {% render 'variant_selector_row' %}
    </div>
  </template>
  <button
    @click="addToCart"
    type="submit"
    name="add"
    {% if selected_variant.available == false %}
      disabled
    {% endif %}
  >
    {% if selected_variant.available == false %}
      Sold out
    {% else %}
      Add to cart
    {% endif %}
  </button>
</form>
