{{ 'contact_form.css' | asset_url | stylesheet_tag }}
<div class="contact container">
  {% if section.settings.title != blank %}
    <h1>{{ section.settings.title }}</h1>
  {% endif %}

  {% form 'contact' %}
    {% if form.errors %}
      <p>Your message was not sent</p>
      {% for error in form.errors %}
        <p>{{ form.errors.messages[error] }}</p>
      {% endfor %}
    {% elsif form.posted_successfully? %}
      <p>Your message was sent successfully</p>
    {% endif %}
    <div class="field">
      <label for="contact_name">Name</label><br>
      <input type="text" name="contact[name]" id="contact_name">
    </div>

    <div class="field">
      <label for="contact_email">Email address</label><br>
      <input type="email" name="contact[email]" id="contact_email">
    </div>
    <div class="field">
      <label for="contact_message">Message</label><br>
      <textarea name="contact[body]" id="contact_message" rows="10"></textarea>
    </div>
    <button type="submit">Submit Message</button>
  {% endform %}
</div>
{% schema %}
{
  "name": "Contact Form",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    }
  ],
  "presets": [
    {
      "name": "Contact Form"
    }
  ]
}
{% endschema %}
